


<div class="jumbotron">
<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <%=image_tag("mainpage.jpg", size: "width:100%;",alt: "Example Image", id: "sliders")%>
      <div class="carousel-caption">
       
      </div>
    </div>
    <div class="item">
        <%=image_tag("DSC_0679.jpg", size: "width:100%;",alt: "Example Image", id: "sliders")%>
      <div class="carousel-caption">
        
      </div>
    </div>
        <div class="item">
        <%=image_tag("DSC_0680.jpg", size: "width:100%;",alt: "Example Image", id: "sliders")%>
      <div class="carousel-caption">
   
      </div>
    </div>
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
    <span class="sr-only">Next</span>
  </a>
</div>

</div>

<a id="homeabout"></a>
<div class= "homeabout">
	<h1>	
		About Bendini
	</h1>


	<p align="center">
	Since September of 2002, Bendini Fine Men's Clothing has strived to offer the Bergen County and Tri-State area market place the finest quality and 
	personal service that is seldom experienced these days. Bendini focused 
	on delivering high quality service as well as fine men's clothing. It has been 
	noticed by Bergen Health & Life as the "Best Independent specialty 
	store for men in Bergen" in 2012.
	</p>

	<div style="text-align: center">
		<%=image_tag("DSC_0679.jpg", size: "500x500", alt: "Example Image", :class => "style_image")%>
		<%=image_tag("mainpage.jpg", size: "700x500",alt: "Example Image")%>
	</div>

</div>
	
<section>	
<a id="homecollection"></a>
<div class= "homecollection">
	<div class="Bendinicollection">
		<h1>
			<%=link_to "Bendini Collection", root_path, id: "homecollection"%>
		</h1>

	</div>
    <p style="float: left;">
		<%=image_tag("mainpage.jpg", size: "400x690", alt: "Example Image", :class => "style_image", id: "images")%>
		<%=image_tag("mainpage.jpg", size: "350x690", alt: "Example Image", :class => "style_image", id: "images")%>
	</p>	
	<div class="collectionbody">
			<div class="collectiondescription"> 
  			<p>Bendini has a variety of men's clothing and accessories. Casual cltohing is much more than just a T-shirt and jeans. It's a sense of relaxation and comfort. Since Bendini provides very fashionable clothing, looking good never felt so good. Some of the Brands that Bendini carries are:
  				
  			<div style="text-align: left;">
				<li>Ed Baker</li>
				<li>Chiari</li>
				<li>Raffi</li>
				<li>Toscano</li>
				<li>Bresciani</oli>
				<li>Enzo</li>
				<li>Intl Laundry</li>
				<li>Gianni Marcelo</li> 
				<li>34 Heritage Jeans</li>
				<li>And much more!</li>
				<br>
			</div>
			</div>
				<div style="text-align:center;">To see the full collection <a href="">click here</a>
				</div>
			</p>
	
	</div>	
	<!-- List of brands : ed baker, chiari, raffi , toscano , bresciani , enzo , intl laundry , gianni marcelo heritage 34 jeans  montechiaro and much more -->
</div>
</section>	


<a id="homecontact"></a>
<div class="homecontact">

	<h1>
	<%=link_to "Bendini Contact", root_path, class: "active", id: "bendinicontact"%>
	</h1>

	<div style="text-align:center;">
	<p>
	For the best experience come visit our store, or give us a call. We can also be reached via email!
	</p>
	<br>
	</div>

<div class="marketing-site-content-section">
  <div class="marketing-site-content-section-block small-order-2 medium-order-1">
    <h3 class="marketing-site-content-section-block-header"></h3>
    <p class="marketing-site-content-section-block-subheader subheader">
    Bendini Fine Mens Clothing<br>
    39 North Dean Street<br>
			Englewood, NJ 07631<br>
			<br>
			Tel: 201-596-6935<br>
			Fax: 201-569-6978<br>
			<br>
			Email: Bendiniusa1@hotmail.com<br>
			<br>Store Hours: Monday to Wednesday: 10AM - 6PM | Thursday: 10AM - 7PM | Friday to Saturday: 10AM - 6PM | Sunday: Closed
			
  </div>
  <div class="marketing-site-content-section-img small-order-1 medium-order-2">
   <div id="map"></div>
    <script>
      function initMap() {
        var uluru = {lat: 40.894971, lng: -73.973452};
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 17,
          center: uluru
        });
        var marker = new google.maps.Marker({
          position: uluru,
          map: map
        });
      }
    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBmUabYjO_8eNBurt8One-CzLbdYZvbJuQ&callback=initMap">
    </script>
</div>
  </div>
</div>


<!-- <div id="map"></div>
    <script>
      function initMap() {
        var uluru = {lat: 40.894971, lng: -73.973452};
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 17,
          center: uluru
        });
        var marker = new google.maps.Marker({
          position: uluru,
          map: map
        });
      }
    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBmUabYjO_8eNBurt8One-CzLbdYZvbJuQ&callback=initMap">
    </script>
</div>
-->




<div class="facebook">
	<p>
	You can also visit and follow our Facebook page!
	<%= link_to(image_tag("facebook.jpg", size: "500x500", alt: "Example Image"), "https://www.facebook.com/bendinimenswear/")%>
	</p>

	<div id="fb-root"></div>
	<script>(function(d, s, id) {
	  var js, fjs = d.getElementsByTagName(s)[0];
	  if (d.getElementById(id)) return;
	  js = d.createElement(s); js.id = id;
	  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.9&appId=254182094622920";
	  fjs.parentNode.insertBefore(js, fjs);
	}(document, 'script', 'facebook-jssdk'));</script>

		  <!-- Your like button code -->
	<div class="fb-like" data-href="https://www.facebook.com/bendinimenswear/" data-layout="standard" data-action="like" data-size="small" data-show-faces="true" data-share="true"></div>	
</div>	


